/* Main Pink: #F9CADA (light rosy pink)
Accent Pink: #F7A4C0 (slightly deeper cotton-candy pink)
Text Color: #4A4A4A (soft charcoal for readability)
Secondary Accent (Buttons/Headers): #FCDDE8 (baby-pink highlight)
Complement to Match Your Green: #CDECC6 (pastel mint to match your bows) */


body {
    background-image: url('assets/image/tumblr_inline_mlkxr4nUiK1r53miq.png');
    /* background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
     */
     color: #f4f3f1;
}

.single-day-regular {
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;   
}



.page-wrapper{
    
    padding: .75em;
    height: auto;
    /* background-image: url(assets/Abstract\ Sakura\ Cherry\ blossoms\ animated\ wallpaper.jpga); */
    background-color: #CFF5D2;
    border: 2px #E59AB6 dashed;
    margin-left: 8%;
    margin-top: 3%;
    margin-right: 8%;
    border-radius: 5px;
    /* margin: 25%; */
}

.test{
    background-color: #344C3D;
    height: fit-content;
    width: auto;
    border-radius: 4px;
}

.container-Grid{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 1rem;
    /* grid-template-areas: "Nav Content About-me"
                        "Nav Content About-me"
                        "Nav Content About-me"
                        "Nav Content About-me"
                        "Nav Change-log About-me"
                        "Nav Change-log About-me"
                        "Bilinkies Bilinkies Bilinkies"; */
}

/* #Nav{ 
    grid-area: Nav;
}
#Content{
    grid-area: Content;
}
#about-me{
    grid-area: About-me;
}
#change-log{
    grid-area: Change-log;
}
#blinkies{
    grid-area: Blinkies;
} */

ul, ol {
  list-style-type: none; /* Removes bullets/numbers */
  margin: 0;             /* Removes default browser margin */
  padding: 0;            /* Removes default browser indentation */
}

.profile-image-container{
    display: flex;
    justify-content: center;
}
.about-me-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1em;
    
}

.nav{
    margin: .5em;
}

.tooltip{
    position: relative;
    /* border-bottom: 2px dotted; */
    cursor: pointer;
}

.tooltip-text{
    position: absolute;
    background-color: #3A3A3A;
    color: white;
    border-radius: 4px;
    border: 2px dashed  #E59AB6;
    padding: 2px;
    visibility: hidden;
    opacity: 0;
    bottom: 100%;
    
    
}

/* .tooltip:before{
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid #000 transparent none transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000;  
} */

 .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.content-container{
    margin: 1em;
}
